.header {
    background: rgba(0, 0, 0, 0.9); 
    padding: 10px 20px;
  }
  .header img {
    height: 40px;  
  }
  .header a{
    justify-content: space-between;
    text-decoration: none;
  }
  .header a p {
    color: #fff;
    font-weight: bold;
    margin-top: 10px;
  }